/* ********** Custom Properties ********** */
:root {
  --primary-color: #fdffd9;
  --secondary-color: #faad8e;
  --text-color: #142f30;
  --font: "Anton", sans-serif;
}
/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--primary-color);
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  line-height: 1.6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ********** Components ********** */
/* Title */
.title-container > h1 {
  text-align: center;
  height: 5rem;
  padding-top: 2rem;
}

/* Droppable */
.droppable-section {
  padding: 3rem 1.5rem;
  margin: 3rem 2rem;
  border-radius: 5px;
  background-color: var(--secondary-color);
  min-width: min-content;
}

.task-list li {
  text-align: center;
  border-radius: 5px;
  height: 5rem;
  background-color: white;
  min-width: 222px;
}
.task-list li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.task-text-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .droppable-section {
    padding: 3rem 6rem;
    margin: 3rem 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .droppable-section {
    padding: 3rem 6rem;
    margin: 3rem 12rem;
  }
}
